@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
}

.showSidebar{
    @apply transition-all duration-1000 w-[300px] fixed top-0 left-0 bg-white h-[100vh] text-gray-700 z-20 px-5 py-5 overflow-y-auto
}

.hideSidebar{
    @apply -translate-x-full transition-all duration-1000 w-[300px] fixed top-0 left-0 bg-white h-[100vh] text-gray-700 z-20 px-5 py-5 overflow-y-auto
}

button[disabled]{
    @apply opacity-25 hover:bg-white hover:text-turuncu
}